<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/alerts') %>
<main class="container auth-shell">
  <form class="card form-grid auth-card" action="/reset-password" method="post">
    <h1><%= t('auth_choose_password_heading') %></h1>
    <% if (typeof errors !== 'undefined') { %><div class="inline-errors"><% errors.forEach((error) => { %><p><%= error %></p><% }) %></div><% } %>
    <input type="hidden" name="token" value="<%= token %>">
    <input type="password" name="password" placeholder="<%= t('common_new_password') %>" required>
    <button class="button" type="submit"><%= t('auth_update_password') %></button>
  </form>
</main>
<%- include('../partials/footer') %>
