<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main class="container auth-shell"><section class="card auth-card"><h1><%= t('error_server_title') %></h1><p><%= t('error_server_copy') %></p><a class="button" href="/"><%= t('cta_return_home') %></a></section></main>
<%- include('../partials/footer') %>
